@{
    ViewData["Title"] = "Contact with Krzysztof Szczurowski";
}
<h2>@ViewData["Title"]</h2>
<h3>@ViewData["Message"]</h3>

<address>
    Krzysztof Szczurowski<br />
    email: kris_s@outlook.com <br/>
</address>
