@{
    ViewData["Title"] = "Home Page";
}

<div class="jumbotron">
	<h1>Krzysztof Szczurowski - Assignment 1 - COMP3973 ASP.NET MVC Core 2.1 with EF Core</h1>
	<p class="lead">ASP.NET is a great, free platform for building web sites and web applicatons.</p>
	<p>
		<a href="asp.net" class="btn btn-primary">More Info &raquo;</a> 
	</p>
</div>
