@{
    ViewData["Title"] = "Home Page";
}

<div class="jumbotron">
	<h1>Krzysztof Szczurowski</h1><br />
	<h2>Assignment 1 - COMP3973 ASP.NET MVC Core 2.1 with EF Core</h2>
	<p class="lead">ASP.NET is a great, free platform for building web sites and web applicatons.</p>
	<p>
		<a href="http://www.interasp.net" class="btn btn-primary">My Page &raquo;</a>
	</p>
</div>
